.categoryMenu {
  background-color: #FFF9F5;
  color: #090E15;
  font-weight: normal;
  font-size: 14px;
  position: relative;
  .list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .item {
      cursor: pointer;
      &:hover {
        background: #FFF9F5;
        color: #090E15;
        .subCategories {
          display: flex;
        }
      }
      .link {
        text-decoration: none;
        &:hover {
          color: #090E15;
        }
        padding: 16px;
        display: block;
      }
      &.sale {
        .link {
          color: red;
        }
      }
    }
  }
}

@media (max-width: 770px) {
  .categoryMenu {
    display: none;
  }
}
