.wrapper {
  width: 364px;
  margin: 0 auto;
  text-align: center;
  .heading {
    .logo {
      margin-bottom: 26px;
    }
    .title {
      text-transform: uppercase;
      font-weight: 400;
      font-size: 20px;
      color: #090E15;
      margin-bottom: 26px;
    }
    .description {
      font-weight: 400;
      font-size: 15px;
      color: #575F6A;
      margin-bottom: 36px;
      a {
        font-weight: 500;
        text-decoration: none;
      }
    }
  }
  .clientData {
    background: #FFF9F5;
    padding: 26px;
    text-align: left;
    margin-bottom: 36px;
    .title {
      font-weight: 500;
      font-size: 20px;
      color: #051f1c;
      margin-bottom: 20px;
    }

    .list {
      padding: 0;
      font-weight: 400;
      font-size: 14px;
      color: #4c6d6a;
      margin-bottom: 0;
      .item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
        p {
          width: 50%;
          margin: 0;
          
        }
        span {
          color: #051f1c;
          width: 50%;
          text-align: right;
        }
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }

  .summar {
    background: #f3f7f7;
    padding: 26px;
    text-align: left;
    margin-bottom: 36px;
    .title {
      font-weight: 500;
      font-size: 20px;
      color: #051f1c;
      margin-bottom: 20px;
    }
    div {
      display: flex;
      justify-content: space-between;
      font-weight: 400;
      font-size: 14px;
      color: #4c6d6a;
      margin-bottom: 16px;
      &:last-of-type {
        margin-bottom: 0;
        font-weight: 500;
        font-size: 18px;
        color: #051f1c;
      }
      span {
        color: #051f1c;
      }
    }
  }
  .button {
    width: 100%;
    border: 0;
    display: block;
    color: #fff;
    padding: 16px 0;
    background: #FA7E26;
    margin-bottom: 85px;
    text-decoration: none;
  }
}

@media (max-width: 370px) {
  .wrapper {
    width: 100%;
    padding: 0 15px;
  }
}
