.size {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.sizeInner {
  width: 33.33%;
  padding: 0 15px;
  cursor: pointer;
  margin-bottom: 15px;
  div {
    display: flex;
    align-items: center;
    height: 20px;
    img {
      margin-right: 5px;
    }
    // &.active {
    //     background: #ffffff;
    //     border: 1px solid #222222;
    //     border-radius: 2px;
    // }
  }
}
