.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
  .activFilter {
    display: flex;
    align-items: center;
    ul {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;
      li {
        margin-right: 12px;
        background: #fff;
        border: 1px solid #dbe2e2;

        &:hover {
          border-color: #fa7e26;
        }
        button {
          display: flex;
          align-items: center;
          text-decoration: none;
          padding-left: 10px;
          color: #575f6a;
          font-weight: 400;
          font-size: 13px;
          background: #fff;
          border: 0;
          &:hover {
            background: #fff;
            color: #fa7e26;
          }
        }
      }
    }
    .resetFilter {
      font-weight: 500;
      font-size: 16px;
      color: #090e15;

      background: #fff;
      border: 0;
    }
  }
  .sort {
    button {
      font-weight: 500;
      font-size: 16px;
      color: #00554c;
      background: #fff;
      border: 0;
      display: flex;
      &::before {
        content: "";
        background: url("/SortAscending.svg");
        width: 24px;
        height: 24px;
        display: block;
        margin-right: 8px;
      }
    }
  }
}

@media (max-width: 800px) {
  .top {
    display: none;
  }
}
