.home {
  display: block;
  width: 100%;
  height: 284px;
  background-image: url('/image.png');
  background-size: contain;
  background-position: center center;
  margin-bottom: 70px;
  background-repeat: no-repeat;
}

@media (max-width: 1000px) {
  .home {
    height: 100px;
    margin-bottom: 35px;
  }
}
