.fiveBlock {
  color: #fff;
  margin-bottom: 64px;
  display: flex;
  flex-wrap: wrap;

  .banner {
    width: 33.3333333333%;
    padding: 0 4.5px;
    display: block;
    // &:last-of-type {
    //   width: 66.6666666666%;
    // }
    &:hover {
      color: inherit;
    }
    div {
      position: relative;
      width: 100%;
      height: 364px;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      margin-bottom: 9px;
    }
    &:last-of-type {
      div {
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
    a:hover {
      text-decoration: none;
      color: #fff;
    }
    .title {
      position: absolute;
      top: 26px;
      left: 26px;
      font-weight: 700;
      font-size: 20px;
      text-transform: uppercase;
      font-family: 'Roboto Condensed';
    }
    .link {
      position: absolute;
      bottom: 28px;
      left: 26px;
      font-weight: 600;
      font-size: 16px;
      span {
        margin-left: 5px;
        svg {
          path {
            stroke: #fff;
          }
          transform: rotate(-180deg);
        }
      }
    }
  }
}
.fourBlock {
  color: #fff;
  margin-bottom: 64px;
  //display: flex;
  flex-wrap: wrap;
  &::after {
    content: '';
    display: table;
    clear: both;
  }
  .banner {
    width: 33.3333333333%;
    padding: 0 4.5px;
    height: 540px;
    float: left;
    &:nth-child(3) {
      height: 266px;
      margin-bottom: 9px;
    }
    &:last-of-type {
      height: 266px;
    }
    div {
      position: relative;
      width: 100%;
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      margin-bottom: 9px;
    }
    &:last-of-type {
      div {
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
    a:hover {
      text-decoration: none;
      color: #fff;
    }
    .title {
      position: absolute;
      top: 26px;
      left: 26px;
      font-weight: 700;
      font-size: 20px;
      text-transform: uppercase;
      font-family: 'Roboto Condensed';
    }
    .link {
      position: absolute;
      bottom: 28px;
      left: 26px;
      font-weight: 600;
      font-size: 16px;
      span {
        margin-left: 5px;
        svg {
          path {
            stroke: #fff;
          }
          transform: rotate(-180deg);
        }
      }
    }
  }
}

@media (max-width: 830px) {
  .fourBlock {
    margin-bottom: 56px;
    .banner {
      width: 100%;
      height: 500px;
      margin-bottom: 9px;
      &:nth-child(3) {
        height: 500px;
        margin-bottom: 9px;
      }
      &:last-of-type {
        height: 500px;
        margin-bottom: 0;
      }
    }
  }
  .fiveBlock {
    .banner {
      width: 100%;
      height: 266px;
      margin-bottom: 9px;
      &:nth-child(3) {
        height: 266px;
        margin-bottom: 9px;
      }
      &:last-of-type {
        height: 266px;
        width: 100%;
        margin-bottom: 0;
      }
      div {
        height: 266px;
      }
    }
  }
}
@media (max-width: 430px) {
  .fourBlock {
    .banner {
      height: 266px;
      &:nth-child(3) {
        height: 266px;
      }
      &:last-of-type {
        height: 266px;
      }
    }
  }
}
