.filterBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 52px;
  background: #ffffff;
  border: 1px solid #00554c;
  font-weight: 500;
  font-size: 16px;
  color: #00554c;
  margin: 25px 0;
  img {
    margin-right: 10px;
  }
}
.sticky {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0 15px;
  width: 100%;
  z-index: 9999;
  background: #fff;
}
.wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(5, 31, 28, 0.6);
  .filters {
    width: calc(100% - 60px);
    background: #fff;
    height: 100%;
    opacity: 1;
    padding: 26px 24px 26px 15px;
    z-index: 99999;
    overflow: auto;
    .title {
      font-weight: 500;
      font-size: 16px;
      text-align: center;
      color: #4c6d6a;
      margin-bottom: 26px;
    }
  }
  &.active {
    display: flex;
    flex-direction: column;
  }
}
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 50px;
}

.apply {
  margin-top: auto;
  button {
    position: absolute;
    right: 15px;
    top: 25px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-weight: 500;
    font-size: 13px;
    border: 0;
    background: transparent;
    padding: 0;
    svg {
      width: 24px;
      height: 24px;
      path {
        stroke: #fff;
      }
    }
  }
}
.reset {
  margin-top: 20px;
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background: transparent;
    border: 1px solid #7c7c7c;
    outline: none !important;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #202020;
    &:hover {
      background: #202020;
      color: white;
    }
  }
}
