.subCategoryMenu {
  padding: 36px 0;
  display: none;
  color: #1C272F;
  position: absolute;
  z-index: 9;
  width: 100%;
  left: 0;
  top: 100%;
  height: 470px;
  background: #fff;
  .subCategoriesBlock {
    display: flex;
    .subCategory {
      width: 250px;
      margin-right: 50px;
      display: block;
      li {
        padding: 0;
        &:last-of-type {
          color: #1C272F;
        }
      }
    }
  }
  .product {
    width: 100%;
    height: 352px;
    background-size: cover !important;
    background-position: center !important;
    margin-right: 9px;
  }
  .list {
    background: #fff;
    padding: 0;
    display: block;
    list-style: none;
    width: 90%;
    .item {
      padding: 0;
      margin-bottom: 16px;
      &:last-of-type {
        color:#1C272F;
      }
      a {
        display: flex;
        justify-content: space-between;
        text-decoration: none;
        &:hover {
          color: #1C272F;
        }
      }
    }
  }
  .title {
    margin-bottom: 20px;
    color: #95adab;
  }

  .count {
    color: #95adab;
  }
}

@media (max-width: 770px) {
  .categories {
    display: none;
  }
}
