.accordion {
  margin-bottom: 40px;
}
.noMargin {
  margin-bottom: 0 !important;
}
.title {
  .icon {
    margin-right: 12px;
    width: 32px;
    height: 32px;
  }
  div {
    display: flex;
    align-items: center;
  }

  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  color: #090E15;
  margin-bottom: 20px;

  &.active {
    img {
      transform: rotate(180deg) !important;
    }
  }
}
.content {
  font-size: 14px;
  line-height: 28px;
  color: #222222;
}
