.links {
  display: flex;
  align-items: center;
  margin: 20px 0 20px 0;
  a {
    font-weight: normal;
    font-size: 13px;
    color: #8C9896;
    margin-right: 2px;
    text-decoration: none;
    display: flex;
    align-items: center;
    &::after {
      margin: 0 10px;
      content: "";
      background: url("/CaretRight.svg");
      width: 16px;
      height: 16px;
      display: block;
    }
    &:hover {
      color: #4c6d6a;
    }
    &:last-child {
      &::after {
        content: "";
        background: none;
      }
    }
  }
}

@media (max-width: 770px) {
  .links {
    display: none;
  }
}
