@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';
@import '~react-image-gallery/styles/scss/image-gallery.scss';
@import 'bootstrap';
@import 'bootstrap/scss/bootstrap-reboot.scss';
@import 'bootstrap/scss/bootstrap-grid.scss';

html,
body {
  width: 100%;
  min-width: 320px;
  padding: 0;
  margin: 0;
  font-family: 'Commissioner';
  background: #fff;
}
.ticker > div {
  background: #027769;
  height: 50px !important;
  margin-bottom: 64px;
}
.ticker a {
  min-width: 25% !important;
  font-weight: 500;
  font-size: 15px;
  border: 0 !important;
  &:hover {
    color: #fff;
    background: #027769;
  }
  &::after {
    background: transparent;
  }
  div:hover {
    text-decoration: none;
  }
}

header {
  height: 100%;
  transition: 2s;
}
a:active,
a:focus {
  outline: none;
}

input,
textarea {
  outline: none !important;
}
input:active,
textarea:active {
  outline: none !important;
}
:focus {
  outline: none !important;
}

.has-text-align-center {
  text-align: center;
}

.orderReviewButton {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  padding: 16px 0;
  background: #fa7e26;
  text-decoration: none;
  margin-bottom: 24px;
  border: 0;

  &:hover {
    color: #fff;
    text-decoration: none;
    background: #fa7e26;
  }
}
#catalog-skeleton-wrapper span {
  display: flex;
  flex-wrap: wrap;
  width: 100% !important;
}
.image-gallery-thumbnails-container {
  transform: none !important;
  height: auto !important;
}

@media (max-width: 430px) {
  #catalog-skeleton-wrapper span {
    height: 240px !important;
  }
}
.special-label {
  display: none;
}
.topSlider {
  margin-bottom: 64px;
  .slick-dots {
    display: block !important;
    position: absolute;
    bottom: 26px;
    li {
      width: 25%;
    }
  }
}
.productSlider {
  margin: 0 -15px;
  .slider {
    height: 450px !important;
  }
  .slick-slide > div {
    padding: 0;
  }
  .slick-dots {
    display: flex;
    bottom: 37px;
    li {
      width: 100%;
    }
  }
}
.slick-dots {
  display: flex !important;
  justify-content: space-between;
  position: relative;
  bottom: 0;
}
.slick-dots li {
  width: 100%;
  margin: 0;
}
.slick-track {
  margin-bottom: 26px;
}
.product .slick-track {
  margin-bottom: 0;
}
.slick-dots li button {
  width: 100%;

  background: #d8eae8;
  height: 4px;
  padding: 0;
}
.slick-dots .slick-active button {
  background: #e40134;
}
.slick-dots li button::before {
  display: none;
}

.topSlider .slick-slide > div > div,
.brand {
  display: flex !important;
  background: #f3f7f7;
  justify-content: center;
}
.product .slick-list {
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none !important;
}
.product-slider {
  margin-bottom: 64px;
}

* {
  box-sizing: border-box;
}

.slick-slide > div {
  padding: 4px;
}
.product .slick-slide > div > div {
  background: #fff;
  padding: 16px 0;
}
.product .slick-slider {
  margin: 0 40px;
}

.tab .slick-slider {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  width: 100%;
  background-repeat: no-repeat !important;
  display: block;
  height: 100%;
}
.slick-prev:before {
  content: '';
  background: url(/home/arrowLeft.svg);
}
.slick-next:before {
  content: '';
  background: url(/home/arrowRight.svg);
}

.categoryMenu ul li:hover {
  .subCategoryMenu {
    display: block;
  }
}
.slick-next {
  right: -20px;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 30px;
}

.product-slider .sliderNextArrow,
.product-slider .sliderPrevArrow {
  position: absolute;
  top: calc(50% - 113px);
  transform: translate(0, -50%);
  right: -33px;
  z-index: 1;
  cursor: pointer;
}

.brands .sliderNextArrow,
.brands .sliderPrevArrow {
  position: absolute;
  top: calc(50% - 24px);
  transform: translate(0, -50%);
  right: -33px;
  z-index: 1;
  cursor: pointer;
}

.sliderNextArrow,
.sliderPrevArrow {
  position: absolute;
  top: calc(50% - 36px);
  right: -33px;
  z-index: 1;
  cursor: pointer;
}
[type='search'] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

.sliderPrevArrow {
  left: -33px;
  right: auto;
}

.image-gallery {
  width: 100% !important;
  margin-bottom: 36px;
}
.image-gallery-content {
  width: 100%;
  display: flex;
}
.image-gallery-slide-wrapper {
  width: calc(100% - 70px) !important;
}
.image-gallery-left-nav {
  left: 15px;
}
.image-gallery-right-nav {
  right: 15px;
}
.image-gallery-icon {
  width: 50px !important;
  height: 50px !important;
  padding: 0 !important;
  background: #ffffff !important;
  filter: none !important;
}
.image-gallery-svg {
  width: 100% !important;
  height: 28px !important;
  color: #3d3737 !important;
}
.image-gallery-image {
  width: 100% !important;
  max-width: 100% !important;
  height: 100% !important;
  max-height: 100% !important;
  object-fit: cover !important;
  transition: 1s;
}
.image-gallery-image:hover {
  transform: scale(1.5);
}
.image-gallery-thumbnails-wrapper {
  width: 84px !important;
  margin-right: 9px;
  div {
    height: 100%;
  }
}
.image-gallery-thumbnail {
  width: 100% !important;
  height: 100% !important;
  margin: 0 0 9px 0 !important;
  border: 1px solid #fa7e26 !important;
  outline: none !important;
  opacity: 0.4 !important;
  padding: 0;
}

.image-gallery-thumbnail.active {
  opacity: 1 !important;
}
.image-gallery-thumbnail-inner {
  width: 100% !important;
  height: 100% !important;
}
.image-gallery-thumbnail-image {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}

// @include media-breakpoint-up(xl) {
//   .container{
//       max-width: 90%;
//   }
// }

@media (max-width: 600px) {
  .slick-slide .brand img {
    padding: 40px 0 !important;
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .ticker a {
    min-width: 80% !important;
  }
}
@media (max-width: 1170px) {
  .sliderPrevArrow {
    left: -10px !important;
    background: #fff;
    width: 36px;
    height: 36px;
    top: calc(50% - 93px) !important;
    svg {
      width: 36px;
      height: 36px;
    }
  }
  .sliderNextArrow {
    right: -10px !important;
    background: #fff;
    width: 36px;
    height: 36px;
    top: calc(50% - 93px) !important;
    svg {
      width: 36px;
      height: 36px;
    }
  }
}

.jokiAbout {
  img {
    max-width: 100%;
  }
}
.contact-tg {
  display: flex;
  align-items: center;
  position: fixed;
  right: 20px;
  bottom: 40px;
  padding: 5px 10px 5px 5px;
  background-color: #0b81bb;
  color: #ffffff !important;
  text-align: center;
  overflow: hidden;
  font-size: 14px;
  border-radius: 50px;
  z-index: 9811 !important;
}

.zoodpay {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 22px;
  padding: 150px 15px;
}
